In [352]:
import nltk
from nltk import word_tokenize
from string import punctuation
import csv
from collections import Counter
import numpy as np
import pandas as pd
import string
import sys

## Loading data

In [434]:
filename = 'training_set_rel3.xlsx'
training_essays = pd.read_excel(filename,header=0)

In [374]:
training_essays

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
0,1,1,"Dear local newspaper, I think effects computer...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4.0,3.0,NaN,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5.0,5.0,NaN,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,"Dear @LOCATION1, I know having computers has a...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,1,"Dear @LOCATION1, I think that computers have a...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,1,Did you know that more and more people these d...,5.0,5.0,NaN,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,1,@PERCENT1 of people agree that computers make ...,5.0,5.0,NaN,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,1,"Dear reader, @ORGANIZATION1 has had a dramatic...",4.0,5.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,1,In the @LOCATION1 we have the technology of a ...,5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,1,"Dear @LOCATION1, @CAPS1 people acknowledge the...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,1,Dear @CAPS1 @CAPS2 I feel that computers do ta...,4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,1,Dear local newspaper I raed ur argument on the...,4.0,3.0,NaN,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,1,My three detaileds for this news paper article...,3.0,3.0,NaN,6.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,1,"Dear, In this world today we should have every...",3.0,3.0,NaN,6.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,1,"Dear @ORGANIZATION1, The computer blinked to l...",6.0,6.0,NaN,12.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,1,"Dear Local Newspaper, I belive that computers ...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,1,"Dear Local Newspaper, I must admit that the ex...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,1,I aegre waf the evansmant ov tnachnolage. The ...,2.0,2.0,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,1,Well computers can be a good or a bad thing. I...,3.0,3.0,NaN,6.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,1,"Dear @CAPS1 of the @CAPS2 @CAPS3 daily, I am w...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,1,Dear local Newspaper @CAPS1 a take all your co...,2.0,1.0,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,1,"Dear local newspaper, @CAPS1 you ever see a ch...",5.0,5.0,NaN,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,1,"Dear local newspaper, I've heard that not many...",6.0,5.0,NaN,11.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,1,"Dear @CAPS1, @CAPS2 off, I beileve that comput...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,1,Do you think that computers are useless? Or do...,5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27,1,Computers a good because you can get infermati...,2.0,2.0,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28,1,"Dear Newspaper, Computers are high tec and hav...",5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,1,"Dear local newspaper, @CAPS1 people throughout...",5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,1,"Dear Newspaper People, I think that computers ...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12948,21592,8,We all understand the benefits of laughter. L...,20.0,20.0,NaN,40.0,NaN,NaN,NaN,...,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
12949,21594,8,"It was midsummer, and i could feel the c...",17.0,15.0,NaN,32.0,NaN,NaN,NaN,...,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
12950,21595,8,Have you ever experienced a time with your fr...,18.0,18.0,NaN,36.0,NaN,NaN,NaN,...,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
12951,21596,8,I woke up just like any other day happy yet l...,15.0,16.0,NaN,31.0,NaN,NaN,NaN,...,4.0,4.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
12952,21598,8,"Laughter is an important part of my life, eit...",15.0,15.0,NaN,30.0,NaN,NaN,NaN,...,3.0,4.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
12953,21599,8,"I sat at the table, speechless, as they told ...",25.0,22.0,NaN,47.0,NaN,NaN,NaN,...,5.0,5.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
12954,21601,8,"As I remember back, it was @DATE1. It was a h...",20.0,20.0,NaN,40.0,NaN,NaN,NaN,...,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
12955,21603,8,"Those eyes, it was like I was looking out int...",17.0,18.0,NaN,35.0,NaN,NaN,NaN,...,4.0,4.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
12956,21604,8,Some say that laugh is the common language bet...,16.0,17.0,NaN,33.0,NaN,NaN,NaN,...,4.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
12957,21605,8,Laughter is an integral element to many situa...,18.0,18.0,NaN,36.0,NaN,NaN,NaN,...,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
12958,21606,8,"One time I was at my friend @PERSON1's house, ...",20.0,16.0,NaN,36.0,NaN,NaN,NaN,...,4.0,4.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
12959,21607,8,LAUGHTER @CAPS1 knows that laughter is a heal...,25.0,23.0,NaN,48.0,NaN,NaN,NaN,...,5.0,4.0,5.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
12960,21608,8,One thing that people in the world love to do ...,20.0,20.0,NaN,40.0,NaN,NaN,NaN,...,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
12961,21609,8,"Laughter, to me, is an important aspect of my...",20.0,20.0,NaN,40.0,NaN,NaN,NaN,...,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
12962,21610,8,People always say that the worst parts of lif...,20.0,20.0,NaN,40.0,NaN,NaN,NaN,...,5.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
12963,21611,8,Why is it that people can look back at someth...,22.0,20.0,NaN,42.0,NaN,NaN,NaN,...,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
12964,21613,8,"Before my best friend moved away, we would st...",20.0,19.0,40.0,40.0,NaN,NaN,NaN,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
12965,21615,8,@ORGANIZATION1 ...,15.0,17.0,NaN,32.0,NaN,NaN,NaN,...,4.0,4.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
12966,21617,8,"Morose and somnolent, I woke up. I woke up to...",18.0,18.0,NaN,36.0,NaN,NaN,NaN,...,4.0,4.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
12967,21618,8,A while back my mom had decided to send me to...,20.0,19.0,40.0,40.0,NaN,NaN,NaN,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
12968,21619,8,I dont like computers,5.0,5.0,NaN,10.0,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
12969,21620,8,Everyone knows how important a laugh can be. ...,18.0,15.0,NaN,33.0,NaN,NaN,NaN,...,4.0,4.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
12970,21621,8,Laughter is an important part of my family. W...,24.0,20.0,NaN,44.0,NaN,NaN,NaN,...,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
12971,21623,8,laughter is an important part of any kind of ...,18.0,17.0,NaN,35.0,NaN,NaN,NaN,...,4.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
12972,21624,8,"Sometime ago on a hot @DATE1 day my @NUM1 ,@PE...",17.0,15.0,30.0,30.0,NaN,NaN,NaN,...,4.0,4.0,3.0,3.0,3.0,3.0,4.0,4.0,3.0,3.0
12973,21626,8,In most stories mothers and daughters are eit...,17.0,18.0,NaN,35.0,NaN,NaN,NaN,...,4.0,4.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
12974,21628,8,I never understood the meaning laughter is th...,15.0,17.0,NaN,32.0,NaN,NaN,NaN,...,4.0,4.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
12975,21629,8,"When you laugh, is @CAPS5 out of habit, or is ...",20.0,26.0,40.0,40.0,NaN,NaN,NaN,...,5.0,5.0,5.0,5.0,4.0,4.0,4.0,4.0,4.0,4.0
12976,21630,8,Trippin' on fen...,20.0,20.0,NaN,40.0,NaN,NaN,NaN,...,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
12977,21633,8,Many people believe that laughter can improve...,20.0,20.0,NaN,40.0,NaN,NaN,NaN,...,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN

## Data split

In [375]:
def split_data(training_essays,set_no):
    df_set = training_essays[training_essays['essay_set'] == set_no] #get particular essay set
    df_set_subset = df_set[['essay_id','essay_set' ,'essay','rater1_domain1','rater2_domain1']] #get only desired columns
    df_set_subset = df_set_subset.dropna() #drop rows with na values

    for couple in df_set_subset['rater1_domain1'].value_counts().iteritems(): #ensure that every score point has at least 4 samples
        if couple[1] < 4:
            print(couple[0])
            df_set_subset = df_set_subset[df_set_subset['rater1_domain1'] != couple[0]]
    
    Data = df_set_subset[['essay_id','essay_set','essay','rater1_domain1','rater2_domain1']]
    Target = df_set_subset[['rater1_domain1']]

    X_majority, X_test, y_majority, y_test = train_test_split(Data, Target, test_size=0.2, random_state=42, stratify = Target)
    y_test['set'] = 'test'
    X_train, X_dev, y_train, y_dev = train_test_split(X_majority, y_majority, test_size=0.25, random_state=42, stratify = y_majority)
    y_train['set'] = 'train'
    y_dev['set'] = 'dev'
    
    return X_train, y_train, X_dev, y_dev, X_test, y_test

In [376]:
X_train_1, y_train_1, X_dev_1, y_dev_1, X_test_1, y_test_1 = split_data(training_essays,1)
X_train_2, y_train_2, X_dev_2, y_dev_2, X_test_2, y_test_2 = split_data(training_essays,2)
X_train_3, y_train_3, X_dev_3, y_dev_3, X_test_3, y_test_3 = split_data(training_essays,3)
X_train_4, y_train_4, X_dev_4, y_dev_4, X_test_4, y_test_4 = split_data(training_essays,4)
X_train_5, y_train_5, X_dev_5, y_dev_5, X_test_5, y_test_5 = split_data(training_essays,5)
X_train_6, y_train_6, X_dev_6, y_dev_6, X_test_6, y_test_6 = split_data(training_essays,6)
X_train_7, y_train_7, X_dev_7, y_dev_7, X_test_7, y_test_7 = split_data(training_essays,7)
X_train_8, y_train_8, X_dev_8, y_dev_8, X_test_8, y_test_8 = split_data(training_essays,8)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

1.0
0.0
30.0
27.0
28.0
26.0
5.0

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

## Prompt-wise statistics

In [415]:
def prompt_tables(train_data,dev_data,test_data):    
    
    def split_details(data, name):
        disagreements = 0
        total = 0
        for index, sample in data.iterrows():
            total += 1
            if sample['rater1_domain1'] != sample['rater2_domain1']:
                disagreements += 1
        df = pd.DataFrame(data['rater1_domain1'].value_counts().sort_index()).rename(columns={'rater1_domain1': name}).transpose()
        df.columns = ['Score point ' + str(col) for col in df.columns]
        df['Total'] = total
        df['Disagreement rate'] = (disagreements*100)/total
        return(df)
    
    dict_words = {}
    wc = []
    c = 0
    for record in train_data.append(dev_data).append(test_data)['essay']:
        wc.append(len(word_tokenize(record)))
        c += 1
        for word in word_tokenize(record):
            if word not in dict_words:
                dict_words[word] = 1
        
    
    avg_wc = np.mean(wc)
    max_wc = np.max(wc)
    min_wc = np.min(wc)
    std_wc = np.std(wc)
    
    stats_table = split_details(train_data,'Train').append(split_details(dev_data, 'Dev')).append(split_details(test_data, 'Test'))
    return avg_wc,std_wc,c,len(dict_words.keys()),max_wc,min_wc, stats_table

### Prompt 1

In [436]:
avg_wc_1, std_wc_1, n_1, unique_1, max_wc_1, min_wc_1, stats_table_1 = prompt_tables(X_train_1, X_dev_1, X_test_1)
stats_table_1

,Score point 1.0,Score point 2.0,Score point 3.0,Score point 4.0,Score point 5.0,Score point 6.0,Total,Disagreement rate
Train,6,17,118,552,304,72,1069,34.518241
Dev,2,5,39,185,102,24,357,34.453782
Test,2,6,39,185,101,24,357,35.294118

### Prompt 2

In [417]:
avg_wc_2, std_wc_2, n_2, unique_2, max_wc_2, min_wc_2, stats_table_2 = prompt_tables(X_train_2, X_dev_2, X_test_2)
stats_table_2

,Score point 1.0,Score point 2.0,Score point 3.0,Score point 4.0,Score point 5.0,Score point 6.0,Total,Disagreement rate
Train,14,92,458,467,45,4,1080,23.333333
Dev,5,31,152,155,15,2,360,17.777778
Test,5,30,153,156,15,1,360,20.555556

### Prompt 3

In [418]:
avg_wc_3, std_wc_3, n_3, unique_3, max_wc_3, min_wc_3, stats_table_3 = prompt_tables(X_train_3, X_dev_3, X_test_3)
stats_table_3

,Score point 0.0,Score point 1.0,Score point 2.0,Score point 3.0,Total,Disagreement rate
Train,25,408,413,189,1035,24.830918
Dev,8,136,138,63,345,25.217391
Test,8,136,139,63,346,26.011561

### Prompt 4

In [419]:
avg_wc_4, std_wc_4, n_4, unique_4, max_wc_4, min_wc_4, stats_table_4 = prompt_tables(X_train_4, X_dev_4, X_test_4)
stats_table_4

,Score point 0.0,Score point 1.0,Score point 2.0,Score point 3.0,Total,Disagreement rate
Train,188,454,313,107,1062,22.881356
Dev,63,151,104,36,354,22.033898
Test,63,151,105,36,355,23.380282

### Prompt 5

In [420]:
avg_wc_5, std_wc_5, n_5, unique_5, max_wc_5, min_wc_5, stats_table_5 = prompt_tables(X_train_5, X_dev_5, X_test_5)
stats_table_5

,Score point 0.0,Score point 1.0,Score point 2.0,Score point 3.0,Score point 4.0,Total,Disagreement rate
Train,31,226,417,291,118,1083,42.012927
Dev,10,75,139,98,39,361,42.659280
Test,10,76,139,97,39,361,41.551247

### Prompt 6

In [421]:
avg_wc_6, std_wc_6, n_6, unique_6, max_wc_6, min_wc_6, stats_table_6 = prompt_tables(X_train_6, X_dev_6, X_test_6)
stats_table_6

,Score point 0.0,Score point 1.0,Score point 2.0,Score point 3.0,Score point 4.0,Total,Disagreement rate
Train,33,127,278,484,158,1080,38.703704
Dev,11,43,92,162,52,360,39.444444
Test,11,43,92,161,53,360,33.055556

### Prompt 7

In [422]:
avg_wc_7, std_wc_7, n_7, unique_7, max_wc_7, min_wc_7, stats_table_7 = prompt_tables(X_train_7, X_dev_7, X_test_7)
stats_table_7

,Score point 2.0,Score point 3.0,Score point 4.0,Score point 5.0,Score point 6.0,Score point 7.0,Score point 8.0,Score point 9.0,Score point 10.0,Score point 11.0,Score point 12.0,Total,Disagreement rate
Train,4,25,57,73,83,76,252,124,83,58,104,939,70.607029
Dev,1,9,19,24,28,26,84,41,27,19,35,313,71.246006
Test,1,9,19,24,28,25,84,41,28,19,35,313,70.926518

### Prompt 8

In [423]:
avg_wc_8, std_wc_8, n_8, unique_8, max_wc_8, min_wc_8, stats_table_8 = prompt_tables(X_train_8, X_dev_8, X_test_8)
stats_table_8

,Score point 10.0,Score point 11.0,Score point 12.0,Score point 13.0,Score point 14.0,Score point 15.0,Score point 16.0,Score point 17.0,Score point 18.0,Score point 19.0,Score point 20.0,Score point 21.0,Score point 22.0,Score point 23.0,Score point 24.0,Score point 25.0,Total,Disagreement rate
Train,6,4,5,8,5,68,28,44,43,18,147,14,8,11,4,16,429,71.561772
Dev,2,1,1,2,2,23,9,15,15,6,49,4,3,4,1,6,143,72.727273
Test,2,1,2,3,2,22,9,15,15,6,49,4,3,4,1,5,143,73.426573

## Aggregate statistics

In [424]:
word_counts = [avg_wc_1,avg_wc_2,avg_wc_3,avg_wc_4,avg_wc_5,avg_wc_6,avg_wc_7,avg_wc_8]
std_dev_wc = [std_wc_1,std_wc_2,std_wc_3,std_wc_4,std_wc_5,std_wc_6,std_wc_7,std_wc_8]
number_of_samples = [n_1,n_2,n_3,n_4,n_5,n_6,n_7,n_8]
max_wc = [max_wc_1,max_wc_2,max_wc_3,max_wc_4,max_wc_5,max_wc_6,max_wc_7,max_wc_8]
min_wc = [min_wc_1,min_wc_2,min_wc_3,min_wc_4,min_wc_5,min_wc_6,min_wc_7,min_wc_8]
unique_tokens = [unique_1,unique_2,unique_3,unique_4,unique_5,unique_6,unique_7,unique_8]
d = {'Average token count': word_counts, 'Minimum token count':min_wc, 'Maximum token count':max_wc,'Standard deviation of token count': std_dev_wc, 'Number of samples': number_of_samples, 'Unique tokens': unique_tokens}
aggregate_statistics = pd.DataFrame(data=d, index = ['Prompt 1', 'Prompt 2', 'Prompt 3', 'Prompt 4', 'Prompt 5', 'Prompt 6', 'Prompt 7', 'Prompt 8'])

In [425]:
aggregate_statistics

,Average token count,Minimum token count,Maximum token count,Standard deviation of token count,Number of samples,Unique tokens
Prompt 1,417.551318,10,956,140.373165,1783,17840
Prompt 2,427.138333,34,1173,176.742821,1800,16632
Prompt 3,123.488992,10,424,61.810026,1726,7545
Prompt 4,105.172784,2,413,59.198453,1771,5794
Prompt 5,140.155679,5,486,67.684453,1805,5851
Prompt 6,171.580000,4,509,63.737023,1800,6401
Prompt 7,199.732907,6,776,106.138027,1565,11724
Prompt 8,699.735664,36,1204,241.433299,715,13571

## Output data with split labels

In [437]:
data_appended = X_train_1.append(X_train_2).append(X_train_3).append(X_train_4).append(X_train_5).append(X_train_6).append(X_train_7).append(X_train_8).append(X_dev_1).append(X_dev_2).append(X_dev_3).append(X_dev_4).append(X_dev_5).append(X_dev_6).append(X_dev_7).append(X_dev_8).append(X_test_1).append(X_test_2).append(X_test_3).append(X_test_4).append(X_test_5).append(X_test_6).append(X_test_7).append(X_test_8)
target_appended = y_train_1.append(y_train_2).append(y_train_3).append(y_train_4).append(y_train_5).append(y_train_6).append(y_train_7).append(y_train_8).append(y_dev_1).append(y_dev_2).append(y_dev_3).append(y_dev_4).append(y_dev_5).append(y_dev_6).append(y_dev_7).append(y_dev_8).append(y_test_1).append(y_test_2).append(y_test_3).append(y_test_4).append(y_test_5).append(y_test_6).append(y_test_7).append(y_test_8)
data_appended = data_appended[['essay_id','essay_set','essay']]
target_appended = target_appended[['rater1_domain1','set']]
output_df = data_appended.join(target_appended)
output_df_renamed = output_df.rename(columns = {"rater1_domain1" : "score"})
output_df_renamed

,essay_id,essay_set,essay,score,set
1745,1750,1,"Dear Local Newspaper, People all around the gl...",4.0,train
1039,1042,1,"Dear @ORGANIZATION1, I took a poll of @NUM1 pe...",4.0,train
19,20,1,Well computers can be a good or a bad thing. I...,3.0,train
796,799,1,"Dear @CAPS1 or @ORGANIZATION2, local paper @CA...",4.0,train
495,498,1,To whom @CAPS5 @MONTH1 concern at @CAPS1 @CAPS...,6.0,train
50,51,1,"Dear Local Newspaper, Have you ever wondered h...",5.0,train
127,128,1,"@ORGANIZATION1, In my opinion computers can be...",5.0,train
380,383,1,"Dear @CAPS1, @CAPS2 you think computers are go...",6.0,train
1329,1334,1,"Dear @ORGANIZATION1, Computers are an amazing ...",4.0,train
987,990,1,"Dear Local Newspaper, I believe the computer d...",4.0,train
1577,1582,1,"Dear @CAPS1 @CAPS2, I @CAPS3't you agree that ...",5.0,train
947,950,1,Each year the world becomes more and more adva...,5.0,train
1663,1668,1,Dear @CAPS1 of @ORGANIZATION1; Technology seem...,5.0,train
1029,1032,1,Computers and other devices are good for human...,4.0,train
1248,1253,1,"Dear @CAPS1 @CAPS2, I think that computers are...",2.0,train
1747,1752,1,"Computers are great technology, but they have ...",4.0,train
1051,1054,1,I think computers are very benefical. There ar...,4.0,train
137,138,1,"@ORGANIZATION1, @CAPS1 has been a lot of discu...",4.0,train
837,840,1,"Dear @CAPS1 @CAPS2, I agree that computers do ...",4.0,train
332,334,1,"@ORGANIZATION1, The use of computer per family...",5.0,train
492,495,1,"Dear Local newspaper, @CAPS1 you know that eve...",4.0,train
1419,1424,1,"Dear @CAPS1, I belive that computers benefits ...",5.0,train
607,610,1,"Dear @CAPS1 times, @CAPS2 people think that co...",3.0,train
1006,1009,1,Has your daughter or son ever asked you that t...,4.0,train
763,766,1,"Dear @CAPS1, Have you ever used a computer to ...",4.0,train
1385,1390,1,"Dear Newspaper, I think that computers have a ...",4.0,train
861,864,1,"Dear Readers, @CAPS1 has come to my attention ...",5.0,train
97,98,1,"Dear @ORGANIZATION1, In this new digital age, ...",5.0,train
540,543,1,@CITY1 @CAPS1: I believe that computers (for n...,4.0,train
1713,1718,1,Losing @CAPS1 to @ORGANIZATION1 are a huge par...,5.0,train
...,...,...,...,...,...
12923,21557,8,Have you ever laughed so hard that you cry? Y...,18.0,test
12606,21151,8,Laughter can create this type of bond that's h...,15.0,test
12593,21137,8,My best friend @PERSON2 turned thirteen on a ...,19.0,test
12541,21073,8,Twins For a @CAPS1 Laughter i...,20.0,test
12500,21023,8,Summertime is always the highlight of the yea...,15.0,test
12488,21008,8,We all have had times when some thing happene...,20.0,test
12540,21072,8,The @C...,20.0,test
12880,21505,8,Laughter to me is the best medicine there is...,20.0,test
12896,21522,8,"It was the middle of @DATE1 and I was ten, bo...",20.0,test
12504,21028,8,"In the @DATE1, a primary group of friends wou...",17.0,test
12767,21356,8,In all of the times people paid a lot of atte...,17.0,test
12912,21545,8,Making jokes or just talking about f...,20.0,test
12605,21150,8,"A few years ago me, my mom and my sister @PERS...",14.0,test
12463,20975,8,Laughter is a part of life. It can help bring...,20.0,test
12590,21134,8,laughter @CAPS1 f...,16.0,test
12744,21327,8,I was in @NUM1 grade; when it was almost the...,16.0,test
12496,21017,8,"Once upon a time on @DATE1, I had my birthday...",12.0,test
12759,21346,8,A @CAPS1 time ago when I was about @NUM1 year...,15.0,test
12629,21180,8,My high school @CAPS1 basketball team isn't t...,20.0,test
12658,21215,8,Laughter is huge part of everyone's life. It'...,21.0,test
12873,21491,8,Life is a serious matter that should be taken...,15.0,test
12418,20920,8,In my storie I am going to tell you about a f...,17.0,test
12339,20823,8,Laughter is like cooking; it brings people of...,21.0,test
12747,21331,8,"They say that ""laughter is the shortest dista...",10.0,test
12275,20742,8,Why is it that laughter can bring people so c...,20.0,test
12262,20724,8,Laughter is a really good thing to have in a...,15.0,test
12454,20964,8,It was @DATE1 seventh and I had invited my tw...,16.0,test
12728,21302,8,We all understand the benefits of laughter. I...,20.0,test
12451,20959,8,When a day is qualified as perfect there are ...,20.0,test
12272,20737,8,Laughter. A story about laughter is what you ...,20.0,test

In [351]:
output_df_renamed.to_csv("output_data.csv", index_label = False)